<h1>Event List</h1>

<ul>
  <!--將傳遞過來的實例變數(instance variable)，透過array的方法each一個一個放到black區塊執行-->
  <!--執行rails 語法的區塊有分有 = 跟沒有 = 兩種，差異是會不會把內容印出來。-->
  <% ______________________  do |event|%>
      <!--印出每一個event的名字 每一個event的column name是一個方法 例如 event.description-->
  <li><%= ________________ %></li>
  <% end %>
</ul>

