<%= @event.name %>
<%= @event.description %>

<%= @page_title = @event.name %>

<!--
controlerr中實例變數（instance variable）
顯示這一筆資料的內容
ex:
@event.name
@event.description
@event.is_public
@event.capacity
-->
<p><%= link_to 'Back to index' , :cotroller => 'events' , :action => 'index'%></p>
  









<!--做一個超連結 show controller是events，action是index-->